.red {
  color: #1779ba;
}
.form-control{
       margin: 0 auto;
  width: 50%;


}
form .form-icons {
  text-align: center;
}

form .form-icons h4 {
  margin-bottom: 1rem;
}

form .form-icons .input-group-label {
  background-color: #1779ba;
  border-color: #1779ba;
}

form .form-icons .input-group-field {
  border-color: #1779ba;
}
form .form-icons .input-group-c2 {
  border-color: #1779ba;
}

form .form-icons .fa {
  color: white;
  width: 1rem;
}
.log-in-form {
  border: 1px solid #cacaca;
  border-radius:15px;
  box-shadow: 7px 7px 15px rgba(0,0,0,0.6);
  padding: 1rem;
  border-radius: 0;

}
